<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>PMM | India</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <link href='static/style.css' rel='stylesheet'/>
</head>
<body>
<div id="map"></div>
<div class='map-overlay' id='features'><div id='pd'></div></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2Fpa2F0LTIxIiwiYSI6ImNpdDJucTJocTAwYngyenBkMWRjN2UyMGoifQ.DiBcaXH9Ig_CLPSmq8WplA';
var map = new mapboxgl.Map({
	container: 'map',
	style: 'mapbox://styles/saikat-21/cjkqbih9n3szr2spjwtwz0gqf',
	center: [82, 23],
	maxBounds: [ [-180, -85], [180, 85] ],
	zoom: 3,
	minZoom:2,
	maxZoom: 9
});
var nav = new mapboxgl.NavigationControl();
map.addControl(nav, 'top-left');
map.getCanvas().style.cursor = 'default';
var scale = new mapboxgl.ScaleControl({
    maxWidth: 100,
    unit: 'imperial'
});
map.addControl(scale);
scale.setUnit('metric');
var url = '{{rainData | safe}}';
map.on('load', function(){
	window.setInterval(function(){
		map.getSource('precip').setData(url);
	},6000);
	map.addSource('precip', {type: 'geojson', data: url});
	map.addLayer({
		'id': 'precip',
		'type': 'fill',
		'source': 'precip',
		'maxzoom': 9.1,
		'layout': {},
		'paint': {
			"fill-color": [
				"interpolate",
				[
					"linear"
				],
				[
					"get",
					"precip"
				],
				1,
				"#E3F2FD",
				2,
				"#90CAF9",
				3,
				"#42A5F5",
				5,
				"#3F51B5",
				10,
				"#5E35B1",
				20,
				"#8E24AA",
				40,
				"#6A1B9A",
				60,
				"#4A148C",
				80,
				"#880E4F"
			],
			"fill-opacity": 0.35,
			"fill-outline-color": "hsla(0, 0%, 0%, 0)"
		}
	});
map.on('mousemove', function(e) {
  var rain = map.queryRenderedFeatures(e.point, {
    layers: ['precip']
  });
  if (rain.length > 0) {
    document.getElementById('pd').innerHTML = '<h4><strong>' + rain[0].properties.precip + '</strong> mm./hour rainfall in last 3 hours</h4>';
  } else {
    document.getElementById('pd').innerHTML = '<h4><p>No rainfall in this area!</p></h4>';
  }
});
});
</script>
</body>
</html>
